* {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    position: relative;
    background-color: rosybrown;
    width: 100vw;
    height: 120px;
}

section {
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: wheat;
    width: 75vw;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-evenly;
    height: 500px;
}

.privacitat {
    width: 90%;
    height: auto;
}

.contacte {
    width: 1000px;
}

.googlemaps {
    margin: 20px;
    width: 200%;
}