@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Happy+Monkey&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'Happy Monkey', cursive;
}

header {
    display: flex;
    position: relative;
    background-color: lightcyan;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
}

.imgLogo {
    width: 200px;
    height: auto;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    filter: invert(360%);
}

.imgLogo:hover {
    cursor: pointer;
}

#login {
    margin: 35px;
    border-radius: 80px;
    border: 1px solid black;
}

.btLogin:hover {
    cursor: pointer;
}

.fa-solid {
    padding: 17px;
    font-size: 3rem;
}

section {
    display: grid;
    position: relative;
    margin: 0 auto;
    /* background-color: wheat; */
    width: 100vw;
    height: 100vh;
    justify-content: center;
}
section2 {
    display: grid;
    position: relative;
    margin: 0 auto;
    margin-bottom:20px;
    /* background-color: wheat; */
    width: 100vw;
    height: auto;
    justify-content: center;
}
.img-thumbnail{
    display:block;
    position:relative;
    background-position:center;
    background-size: 100%;
    background-repeat:no-repeat;
  }

.fotosCompra{
    display:block;
    position:relative;
    width: auto;
    height: auto;
}
.topnav {
    margin-top: 1px;
    margin-bottom: 20px;
    background-color: lightseagreen;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 100vw;
    height: 50px;
    font-family: 'Bungee Shade', cursive;
}

.Search {
    font-size: 1.3rem;
}

.container {
    display: block;
    position: relative;
    width: 60vw;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.slider-inner {
    position: relative;
    width: 58vw;
    height: auto;
    position: relative;
}

.slider-inner img {
    display: none;
    width: 500px;
    height: 300px;
    border: solid 1px;
    border-radius: 60px;
}

.slider-inner img {
    display: none;
    width: 500px;
    height: 300px;
    border: solid 2px;
    border-radius: 20px;
}

.slider-inner img.active {
    display: inline-block;
}

.prev,
.next {
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    z-index: 100;
}

.prev:hover,
.next:hover {
    opacity: 0.5;
}

.purchasegrid {
    display: grid;
    position: relative;
    margin:0 auto;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:auto;
    height: auto;
    width: 90vw;
    background-color:rosybrown;
    margin-bottom: 20px;
    margin-top: -270px;
}

.compra{
    display: block;
    position:relative;

}
.compra:hover{
    opacity:0.5;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 223px;
    background-color: black;
    color: white;
    font-size: 1rem;
    
}
dades {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 500px;
    background-color: black;
    color: white;
    font-size: 1.3rem;
}

.privacitat {
    width: 90%;
    height: auto;
}

.contacte {
    width: 1000px;
}

.contacte ul li {
    padding: 10px;
    font-weight: bolder;
}

li {
    list-style: none;
}

.email {
    text-decoration: underline;
    color: blue;
}

.btWhatsapp {
    padding: 5px 25px;
    border-radius: 50px;
    font-size: 1.4rem;
    margin: 10px;
    background-color: green;
    border: groove;
}

.btWhatsapp:hover {
    cursor: pointer;
}

.googlemaps {
    margin: 20px;
    width: 200%;
}

@media only screen and (max-width: 852px) {
    footer {
        font-size: 1rem;
        background-color: white;
    }
}