* {
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
header{
    display:block;
    position:relative;
    background-color:rosybrown;
    width:100vw;
    height:120px;
}
section{
    display:block;
    position:relative;
    margin:0 auto;
    background-color:wheat;
    width:75vw;
    height:auto;
}

=======
header {}

.imgmapa {
    width: 95%;
    height: 95%;
}

footer {
    display: flex;
    flex-direction: column;
}
>>>>>>> d4315cef4c93231f4c0cdb188f49601a4bfbcb9b
